/* =============================================================================
    ALIEN TIMELINE
============================================================================= */

@import url('https://fonts.googleapis.com/css2?family=Michroma&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

:root {
    --font-weight-regular: 400;
    --font-weight-light: 300;
    --font-weight-bold: 600;

    --font-size-default: 1.6rem;
    --font-size-large: 2.4rem;
    --font-size-medium: 1.4rem;
    --font-size-small: 1.2rem;

    --font-family-default: 'Roboto', sans-serif;
    --font-family-display: 'Michroma', sans-serif;

    --line-height-default: 1.5;
    --line-height-medium: 1.25;
    --line-height-small: 1;

    --black: hsl(252, 100%, 1%);
    --green: hsl(191, 21%, 30%);
    --white: hsl(205, 81%, 96%);

    --green-75: hsla(191, 21%, 30%, 75%);
    --green-50: hsla(191, 21%, 30%, 50%);
    --green-25: hsla(191, 21%, 30%, 25%);

    --white-75: hsla(205, 81%, 96%, 75%);
    --white-50: hsla(205, 81%, 96%, 50%);
    --white-25: hsla(205, 81%, 96%, 25%);
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html {
    font-size: 62.5%;
    font-family: var(--font-family-default);
}

body {
    font-size: 1.6rem;
    line-height: var(--line-height-default);
    background-color: var(--black);
    color: var(--white);
}

img {
    display: block;
    width: 100%;
    height: auto;
}

.page {
    max-width: 64rem;
    margin: 0 auto;
}

.display-1, .display-2, .display-3, .display-4, .display-5, .display-6 {
    font-weight: var(--font-weight-regular);
    font-family: var(--font-family-display);
    line-height: var(--line-height-medium);
}

.display-1 { font-size: calc(var(--font-size-large) * 3); }
.display-2 { font-size: calc(var(--font-size-large) * 2.5); }
.display-3 { font-size: calc(var(--font-size-large) * 1.5); }
.display-4 { font-size: calc(var(--font-size-large) * 1.25); }
.display-5 { font-size: calc(var(--font-size-large) * 1); }
.display-6 { font-size: calc(var(--font-size-large) * .75); }

.headline-1, .headline-2, .headline-3, .headline-4, .headline-5, .headline-6 {
    font-weight: var(--font-weight-regular);
    line-height: var(--line-height-medium);
}

.headline-1 { font-size: calc(var(--font-size-default) * 3); }
.headline-2 { font-size: calc(var(--font-size-default) * 2.5); }
.headline-3 { font-size: calc(var(--font-size-default) * 1.5); }
.headline-4 { font-size: calc(var(--font-size-default) * 1.25); }
.headline-5 { font-size: calc(var(--font-size-default) * 1); }
.headline-6 { font-size: calc(var(--font-size-default) * .75); }

.main-content {
    margin-top: 6rem;
}

.alien-timeline {
    position: relative;
    margin: 4.8rem 1.2rem 0;
    padding: 1.2rem 0 0 4.8rem;
    border-left: 1px solid var(--green-50);
}

.alien-timeline::before {
    content: '';
    position: absolute;
    left: 0;
    top: 0;
    border: 1.2rem solid;
    border-color: var(--green-75) transparent transparent;
    transform: translate(-50%, -50%);
}

.card {
    position: relative;
    max-width: 60rem;
    margin: 0 auto;
    background-color: var(--green-25);
}

.card::before,
.card::after {
    content: '';
    position: absolute;
    top: calc(2.4rem + (3rem / 2)); /* .card-header:padding + (.card-title:lineHeight / 2) */
}

.card::before {
    right: 100%;
    width: 4.8rem;
    border-top: 1px solid var(--green-50);
}

.card::after {
    left: -4.9rem;
    width: .6rem;
    height: .6rem;
    border-radius: 50%;
    background-color: var(--green);
    transform: translate(-50%, -50%);
}

.card-header {
    padding: 2.4rem 1.2rem;
    border-radius: 0 1.2rem 0 0;
    border: 1px solid var(--green-75);
    background-color: var(--green-50);
}

.card + .card {
    margin-top: 2.4rem;
}

.card:last-child {
    transform: translateY(calc(2.4rem + (3rem / 2))); /* .card-header:padding + (.card-title:lineHeight / 2) */
}

.card-content {
    border: 1px solid var(--green-50);
    border-top: none;
}

.card-text {
    padding: 2.4rem;
    color: var(--white-75);
}

.related-content {
    margin-top: 12rem;
}

.list {
    margin-left: 6rem;
    margin-top: 3.6rem;
}

.list ::marker {
    color: var(--green);
}

.list li {
    line-height: 2;
    color: var(--white-75);
}

.list del {
    color: crimson;
}

.list cite {
    font: inherit;
    color: goldenrod;
}

.list a {
    color: inherit;
}

ul + h2 {
    margin-top: 6rem;
}

.text-center { text-align: center; }
.text-right { text-align: right; }

.warning {
    padding: 7.2rem 3.6rem 7.2rem;
}

.warning p {
    padding: 2.4rem;
    font-weight: 600;
    font-size: 3.2rem;
    text-align: center;
    border-radius: 2.4rem;
    border: 2px dashed crimson;
    color: goldenrod;
}
