/* =============================================================================
    CLOCKWORK
    CSS: TESTE
============================================================================= */

@import url('https://fonts.googleapis.com/css2?family=Libre+Franklin:wght@300;400;600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Cabin:wght@400;600&display=swap');

:root {
    --font-weight-regular: 400;
    --font-weight-light: 300;
    --font-weight-bold: 600;

    --font-size-default: 1.6rem;
    --font-size-large: 2.4rem;
    --font-size-medium: 1.4rem;
    --font-size-small: 1.2rem;

    --font-family-display: 'Libre Franklin', sans-serif;
    --font-family-default: 'Cabin', sans-serif;

    --line-height-default: 1.5;
    --line-height-medium: 1.25;
    --line-height-small: 1;
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html {
    font-size: 62.5%;
    font-family: sans-serif;
}

body {
    font-size: var(--font-size-default);
    font-family: var(--font-family-default);
    line-height: var(--line-height-default);
}

.page {
    max-width: 72rem;
    margin: 0 auto;
}

.display-1, .display-2, .display-3, .display-4, .display-5, .display-6 {
    font-weight: var(--font-weight-light);
    font-family: var(--font-family-display);
    line-height: var(--line-height-medium);
}

.display-1 { font-size: calc(var(--font-size-large) * 3); }
.display-2 { font-size: calc(var(--font-size-large) * 2.5); }
.display-3 { font-size: calc(var(--font-size-large) * 1.5); }
.display-4 { font-size: calc(var(--font-size-large) * 1.25); }
.display-5 { font-size: calc(var(--font-size-large) * 1); }
.display-6 { font-size: calc(var(--font-size-large) * .75); }

.headline-1, .headline-2, .headline-3, .headline-4, .headline-5, .headline-6 {
    font-weight: var(--font-weight-regular);
    line-height: var(--line-height-medium);
}

.headline-1 { font-size: calc(var(--font-size-default) * 3); }
.headline-2 { font-size: calc(var(--font-size-default) * 2.5); }
.headline-3 { font-size: calc(var(--font-size-default) * 1.5); }
.headline-4 { font-size: calc(var(--font-size-default) * 1.25); }
.headline-5 { font-size: calc(var(--font-size-default) * 1); }
.headline-6 { font-size: calc(var(--font-size-default) * .75); }

.overline,
.caption {
    font-weight: var(--font-weight-bold);
}

.overline,
.caption {
    font-weight: var(--font-weight-regular);
}
.overline,
.caption {
    font-size: var(--font-size-medium);
    line-height: var(--line-height-small);
}
