/* -------------------------------------------------------------------------- */
/* VARIABLES */
/* -------------------------------------------------------------------------- */

:root {
    --black: hsl(252, 100%, 1%);
    --green: hsl(191, 21%, 30%);
    --green-75: hsla(191, 21%, 30%, 75%);
    --green-50: hsla(191, 21%, 30%, 50%);
    --green-25: hsla(191, 21%, 30%, 25%);
    --white: hsl(205, 81%, 96%);
    --white-75: hsla(205, 81%, 96%, 75%);
    --white-50: hsla(205, 81%, 96%, 50%);
    --white-25: hsla(205, 81%, 96%, 25%);
}
