/* =============================================================================
    ednilsonrobert.dev
    CSS: COLOR PALETTE
============================================================================= */

:root {
    --gray: #34495e;
    --gray-50: #ebedef;
    --gray-100: #d6dbdf;
    --gray-200: #aeb6bf;
    --gray-300: #85929e;
    --gray-400: #5d6d7e;
    --gray-500: #34495e;
    --gray-600: #2e4053;
    --gray-700: #283747;
    --gray-800: #212f3c;
    --gray-900: #1b2631;

    --green: #27ae60;
    --green-50: #e9f7ef;
    --green-100: #d4efdf;
    --green-200: #a9dfbf;
    --green-300: #7dcea0;
    --green-400: #52be80;
    --green-500: #27ae60;
    --green-600: #229954;
    --green-700: #1e8449;
    --green-800: #196f3d;
    --green-900: #145a32;

    --green:  #27ae60;
    --white: #eaeaea;
}
