/*
BASE
    Vars
    Mixins
    Placeholders
SETUP
    Reset
    Normalize
LAYOUT
    Wireframe
    Grid
TYPOGRAPHY
    Healines
    Text formatting
MEDIA
    Images
    Vídeo
    Audio
FORMS
    Text fields
    Selectors
COMPONENTS
    Buttons
    Messages
    Lists
    Tables
OBJECTS
    Modals
    Toolbars
    Menus
    Carousel
GRAPHICS
    Loaders
    Progress
    Knobs
DASHBOARDS
    Donuts
    Piechart
    Bars H
    Bars V
UTILS
*/

.flex-row,
.flex-column {
    display: flex;
}

.flex-row {
    flex-direction: row;
}
/*-----------------------------------------------------------
| flex-left-top    | flex-center-top    | flex-right-top    |
-------------------------------------------------------------
| flex-left-center | flex-center        | flex-right-center |
-------------------------------------------------------------
| flex-left-bottom | flex-center-bottom | flex-right-bottom |
-----------------------------------------------------------*/

.flex-column {
    flex-direction: column;
}
/*-----------------------------------------------------------
| flex-top-left    | flex-top-center   | flex-top-right    |
-------------------------------------------------------------
| flex-center-left | flex-center        | flex-center-right |
-------------------------------------------------------------
| flex-bottom-left | flex-bottom-center | flex-bottom-right |
-----------------------------------------------------------*/
